.box{
    -fx-background-color: #474747;
}
.main-text{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}
.error-text{
    -fx-text-fill: #f16e6e;
    -fx-font-size: 16px;
}
.button{
    -fx-background-color: #c798e5;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-padding: 15px 22px;
    -fx-background-radius: 5px;
}
.not-clicked-button{
    -fx-background-color: #d8bee8;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 15px 22px;
    -fx-background-radius: 5px;
}
.clicked-button{
    -fx-background-color: #bc76e7;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 15px 22px;
    -fx-background-radius: 5px;
}